@use "../../common/color.scss" as color;
@use "../../common/custom_box.scss" as custom_box;

html {
  width: 100%;
  height: 100%;
  body {
    width: inherit;
    height: inherit;
    #root {
      width: inherit;
      height: inherit;
      .home {
        width: inherit;
        height: inherit;
        display: flex;
      }
    }
  }
}
#left-section {
  width: 60%;
  height: 100%;
  background-color: color.$background-color;
  #logo {
    @include custom_box.logoBox();
    margin-top: 20px;
    margin-left: 20px;
  }
  #login-img {
    position: absolute;
    width: 66%;
    height: 70%;
    left: 5px;
    bottom: 0;
  }
}
#register-section {
  width: 40%;
  height: 100%;
  #register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 25px;

    position: absolute;
    width: 360px;
    height: 381px;
    top: 25%;
    right: 5%;
    h1 {
      float: left;
      margin-right: auto;
      padding-bottom: 5px;
    }
    h4 {
      float: left;
      margin-right: auto;
      color: color.$gray-color;
      font-weight: 100;
      display: flex;
    }
    form {
      width: 100%;
      height: fit-content;
      div > * {
        margin-bottom: 15px;
      }
      input {
        @include custom_box.buttonBox();
        padding-inline-start: 20px;
        width: calc(100% - 20px);
      }
      #switch-remember {
        width: unset !important;
        height: unset !important;
      }
      #buttonP {
        display: flex;
        @include custom_box.roundedSwitch(
          $width-size: 35px,
          $height-size: 19px
        );
        p {
          padding-left: 10px;
        }
        a {
          position: absolute;
          right: 0;
        }
      }
      #register-btn {
        button {
          @include custom_box.buttonBox($theme: color.$black-color);
          font-size: 18px;
        }
      }
      #line-break {
        width: 100%;
        height: 1px;
        background-color: color.$light-gray-color;
      }
      #login {
        display: flex;
        justify-content: space-around;
        margin: 0 50px;
        padding-top: 10px;
        p {
          color: color.$gray-color;
        }
        a {
          color: color.$primary-color;
          text-decoration: none;
        }
      }
    }
  }
}
