@use "../../../common/color.scss" as color;
@use "../../../common/custom_box.scss" as custom_box;

.payment-home {
  display: flex;
  .left-box {
    width: 50%;

    .title {
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      text-transform: uppercase;
      & > * {
        margin-right: 20px;
      }
      span {
        color: color.$primary-color;
        font-size: 18px;
        text-transform: none;
      }
    }
    .payment-cards-list {
      width: 100%;
      height: 630px;
      margin: 20px;
      margin-right: 10%;
      position: relative;
      img {
        width: auto;
        height: auto;
        max-width: 64px;
        max-height: 64px;
        object-fit: contain;
      }
      .payment-card {
        width: calc(80% - 20px);
        height: 40px;
        display: flex;
        align-items: center;
        padding: 10px;
        margin: 20px 0;
        border: 1px solid color.$light-gray-color;
        border-radius: 5px;
        input {
          width: 22px;
          height: 22px;
        }

        label {
          margin-left: 10px;
          color: color.$light-black-color;
        }
      }
      .card-input-form {
        width: calc(80% - 20px);
        height: fit-content;
        padding: 10px;
        margin: 20px 0;
        border: 1px solid color.$light-gray-color;
        border-radius: 5px;
        div:first-child {
          display: flex;
          align-items: center;
          padding: 10px 0;
          margin-bottom: 20px;
          position: relative;
          input {
            width: 22px;
            height: 22px;
          }

          label {
            margin-left: 10px;
            color: color.$light-black-color;
          }
          div {
            position: absolute;
            right: 0;
            img {
              max-width: 40px;
              max-height: 20px;
              margin-left: 20px;
            }
          }
        }
        .credit-input-form {
          input {
            width: calc(100% - 12px);
            height: 40px;
            margin-bottom: 20px;
            background-color: color.$white-neutral;
            border: 1px solid color.$light-gray-color;
            border-radius: 5px;
            padding-inline-start: 10px;
          }
          div {
            width: calc(100%);
            display: flex;
            justify-content: space-between;
            input {
              width: 46% !important;
            }
          }
        }
      }
      .payment-providers {
        width: calc(80% - 20px);
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
      }
    }
  }
  .v-ruler {
    width: 2px;
    background-color: color.$light-gray-color;
  }
  .right-box {
    width: calc(50% - 2px);
    margin: 20px;
    margin-left: 5%;
    .price-detail-container {
      height: 60%;
      h2 {
        text-transform: uppercase;
      }
      #table-container {
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 0;
        .row {
          display: flex;
          justify-content: space-between;
          p:first-child {
            color: color.$gray-color;
          }
        }
        .discount {
          color: color.$green-color;
        }
      }
      .h-ruler {
        height: 2px;
        background-color: color.$light-gray-color;
        margin: 10px 0;
      }
      .total-price {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
        p:last-child {
          color: color.$primary-color;
        }
      }
      .place-order-btn {
        font-size: 18px !important;
        @include custom_box.buttonBox($theme: color.$black-color);
        i {
          margin-left: 10px;
        }
      }
    }
  }
}
