@use "../../../common/color.scss" as color;
@use "../../../common/custom_box.scss" as custom_box;

.mini-voucher-home {
  height: 70px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: color.$light-background-color;
  border: 0.5px solid color.$primary-color;
  border-radius: 5px;
  margin: 20px;
  padding: 10px 30px;
  .mini-voucher-left-box {
    width: 230px;
    font-size: 14px;
    p {
      font-size: 14px;
    }
    p:first-child {
      font-size: 16px;
    }
    p:last-child {
      color: color.$gray-color;
    }
  }
  .mini-voucher-right-box {
    width: 60px;
    margin: 0;
    button {
      width: 60px;
      height: 30px;
      border: none;
      color: color.$white-color;
      border-radius: 5px;
      background-color: color.$primary-color;
    }
  }
}
