$primary-color: #f72525;
$background-color: #f22d2d;

$gray-color: #737373;
$white-color: #ffffff;
$black-color: #2d2d2d;
$light-gray-color: #d2d2d2;

$white-neutral: #f6f6f6;

$gray-input-color: #f3f3f3;
