$primary-color: #f72525;
$background-color: #f22d2d;
$light-background-color: #ffc7c7;

$gray-color: #737373;
$white-color: #ffffff;
$black-color: #2d2d2d;
$light-black-color: #484848;
$yellow-color: rgb(255, 238, 0);
$orange-color: rgb(255, 136, 0);
$light-gray-color: #d2d2d2;
$green-color: #0dc700;

$white-neutral: #fafafa;
$white-neutral-low-opacity: #fafafad3;

$pop-up-color: #ff3434;
$pop-up-bg: #fff8f8dd;

$gray-input-color: #f3f3f3;
